<form class="form-signin mt-5" #f="ngForm">
  <h1 class="h3 mb-3 font-weight-normal mt-5">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input
    class="form-control"
    placeholder="Email address"
    id="email"
    ngModel
    type="text"
    required
    name="email"
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    class="form-control"
    placeholder="Password"
    id="password"
    ngModel
    style="width: 100%"
    type="password"
    required
    name="password"
  />

  <button
    class="btn btn-lg btn-primary btn-block"
    [disabled]="!f.valid"
    (click)="onLogin(f.value, f)"
  >
    Sign in
  </button>
</form>
