<app-header></app-header>

<div class="container">
  <h4 style="padding-top: 20px">Registered Users</h4>
  <div class="row">
    <div class="col-md-12">
      <br />

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Action</th>
          </tr>

          <tr *ngFor="let employee of fetchedEmployees">
            <td>{{ employee.id }}</td>

            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.email }}</td>
            <td>
              <a
                class="btn btn-warning"
                [routerLink]="['../update', employee.id]"
              >
                Update
              </a>
              <button
                class="btn btn-danger"
                (click)="onDeleteEmployee(employee.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isLoading" class="mt-5 text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only text-black">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
