<app-header></app-header>
<div class="container">
  <form class="form-signin mt-5" #f="ngForm">
    <h1 class="h3 mb-3 font-weight-normal mt-5">Reset Password</h1>
    <input
      class="form-control"
      id="email"
      ngModel
      type="hidden"
      required
      name="email"
      [ngModel]="email"
    />

    <label for="inputEmail" class="sr-only">New Password</label>
    <input
      class="form-control"
      placeholder="New password"
      id="password"
      ngModel
      type="text"
      required
      name="password"
    />

    <button
      class="btn btn-lg btn-primary btn-block"
      [disabled]="!f.valid"
      (click)="onReset(f.value, f)"
    >
      Reset Password
    </button>
  </form>
</div>
