<app-header></app-header>

<div class="container">
  <h4 style="padding-top: 20px">Edit Employee</h4>
  <div class="row">
    <div class="col-md-12">
      <br />
      <p style="color: green">{{ successStatus }}</p>
      <form #f="ngForm">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Firstname</th>
              <th>
                <input
                  id="first_name"
                  ngModel
                  style="width: 100%"
                  type="text"
                  required
                  name="first_name"
                  [(ngModel)]="empById.first_name"
                />
              </th>
            </tr>

            <tr>
              <th>Lastname</th>
              <th>
                <input
                  id="last_name"
                  ngModel
                  style="width: 100%"
                  type="text"
                  required
                  name="last_name"
                  [(ngModel)]="empById.last_name"
                />
              </th>
            </tr>
            <tr>
              <th>Email</th>
              <th>
                <input
                  id="email"
                  ngModel
                  style="width: 100%"
                  type="email"
                  required
                  name="email"
                  [(ngModel)]="empById.email"
                />
              </th>
            </tr>
          </tbody>
        </table>

        <button
          class="btn btn-success"
          class="btn btn-primary btn-sm"
          [disabled]="!f.valid"
          (click)="onUpdateEmployee(f.value, f)"
        >
          Edit Employee
        </button>
      </form>
    </div>
  </div>
  <br />
  <br />
</div>
